{% extends 'base.html.twig' %}

{% block title %}
        {% if auteur.pseudo is defined and auteur.pseudo is not null %}
        {{ auteur.pseudo }}
        {% else %}
        {{ auteur.nom}} {{auteur.prenom }}
        {% endif %}
{% endblock %}

{% block body %}
        {% if auteur.pseudo is defined and auteur.pseudo is not null %}
        <h1>{{ auteur.pseudo }}</h1>
        {% else %}
        <h1>{{ auteur.prenom }} {{ auteur.nom }}</h1>
        {% endif %}
        <div class="row">
                <div class="col-12 col-md-3">
                        {% if auteur.imageName is defined and auteur.imageName is not null %}
                        <img src="{{ asset("images/auteurs/" ~ auteur.imageName) }}" alt="" class="img-fluid">
                        {% else %}
                        <img src="{{ asset("images/auteurs/inconnu.png" ~ auteur.imageName) }}" alt="" class="img-fluid">
                        {% endif %}
                </div>
                <div class="col-12 col-md-9">
                <p>
                {% if auteur.biographie is defined and auteur.biographie is not null %}
                {{ auteur.biographie }}
                {% endif %}
                </p>
                </div>
        </div>
{% endblock %}

