{% extends 'base-admin.html.twig' %}

{% block title %}Modifier un {{ title }}{% endblock %}

{% block body %}
    <h1>Modifier un {{ title }}</h1>

    {{ include('admin_user/_form.html.twig', {'button_label': 'Confirmer'}) }}

    <a href="{{ path('admin_user_index', { "role": role }) }}"  class="btn btn-success"><i class="fa fa-hand-o-left" aria-hidden="true"></i></a>

    {{ include('admin_user/_delete_form.html.twig') }}
{% endblock %}
