<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/admin.min.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    
    <body>
        {# NAVBAR #}
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                La Librairie
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav w-100">
                        <a class="nav-link active" aria-current="page" href="{{ path('home') }}">
                            Home
                        </a>
                        <a class="nav-link" href="{{ path('livre') }}">
                            Livres
                        </a>
                        <a class="nav-link" href="{{ path('auteur') }}">
                            Auteurs
                        </a>
                        <a class="nav-link" href="{{ path('contact') }}">
                            Contact
                        </a>

                        {% if is_granted('ROLE_USER') %}
                        <li>
                            <a class="nav-link" href="{{ path('profile') }}">
                            Mon Compte
                            </a>
                        </li>
                        {% endif %}

                        <li class="nav-item">
                        {% if is_granted('ROLE_USER') %}
                            <a class ="nav-link" href="{{ path('app_logout') }}">
                            Déconnexion
                            </a>
                        {% else %}
                            <a class ="nav-link" href="{{ path('app_login') }}">
                            Connexion
                            </a>
                        {% endif %}
                        </li>

                        {% if is_granted('ROLE_USER') %}
                        <li class="nav-item align-items-center d-flex ms-auto">
                            <span>Bienvenue
                            {% if app.user.pseudo is defined and app.user.pseudo is not null %}
                            {{ app.user.pseudo }}
                            {% elseif app.user.firstname is defined and app.user.firstname is not null %}
                            {{ app.user.firstname }}
                            {% else %}
                            {{ app.user.email }}
                            {% endif %}
                            </span>
                            {% if app.user.avatar.imageName is defined and app.user.avatar.imageName is not null %} 
                            <img src="{{asset('images/avatars/' ~ app.user.avatar.imageName ) | imagine_filter('my_thumb40')}}" alt="">
                            {% endif %}
                        </li>
                        {% endif %}
                        

                        {% if not is_granted('ROLE_USER') %}
                        <li>
                        <a class ="nav-link" href="{{ path('app_register') }}">
                        Inscription
                        </a>
                        </li>
                    {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        {# FIN NAVBAR #}
        <div class='container-fluid'>    
        {% block body %}{% endblock %}
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}
    </body>

</html>
